body {
    text-align: center;
    background: #F0F2D9;
}

.container {
    width: 50%;
    margin: 0 auto;
    text-align: initial;
}

.pill {
    display: inline-block;
    margin: 1em 0.5em;
    text-transform: uppercase;
    padding: .5em 1.25em;
    background: none;
    border: none;
    transition: color 200ms ease;
    color: black;
    font-size: 12px;
    cursor: pointer;
    position: relative;
}

.pill-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 100%;
    transform-origin: left;
    transition: width 300ms ease;
    z-index: -1;
}

.pill:hover, .toggled-pill {
    color: white;
}

.pill:hover .pill-banner,
.toggled-pill .pill-banner {
    width: 100%;
}

.red .pill-banner {
    background-color: #AC4E39;
}

.blue .pill-banner {
    background-color: #2E5F8A;
}

.green .pill-banner {
    background-color: #62CB83;
}

.yellow .pill-banner {
    background-color: #A48437;
}

.gray .pill-banner {
    background-color: #323232;
}

a {
    text-decoration: none;
    color: #AC4E39;
}
